<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/aside') %>
    <main>
      <h1>Page not found!</h1>
      <p>
        Unfortunately, the page you were looking for couldn't be found!
      </p>
      </p>
    </main>
  </body>
</html>
