<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/aside') %>
    <main>
      <h1>Somethig went wrong!</h1>
      <p>
        Oops, somethig went wrong on the server. We are trying to fix it asap!
      </p>
      </p>
    </main>
  </body>
</html>
